<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="systemDao" class="com.rd.dao.jdbc.SystemDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="systemService" class="com.rd.service.impl.SystemServiceImpl">
		<property name="systemDao">
			<ref bean="systemDao" />
		</property>
	</bean>


	<bean id="usercreditdao" class="com.rd.dao.jdbc.UserCreditDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="adminuserinfoservice" class="com.rd.service.impl.AdminUserInfoSericeImpl">
		<property name="usercreditdao">
			<ref bean="usercreditdao" />
		</property>
	</bean>

	<bean id="attestationService" class="com.rd.service.impl.AttestationServiceImp">
		<property name="attestationDao">
			<ref bean="attestationDao" />
		</property>
	</bean>
	
	<bean id="manageCashService" class="com.rd.service.impl.ManageCashServiceImpl">
		<property name="accountDao">
			<ref bean="accountDao" />
		</property>
		<property name="accountLogDao">
			<ref bean="accountLogDao" />
		</property>
		<property name="cashDao">
			<ref bean="cashDao" />
		</property>
		<property name="hongBaoDao">
			<ref bean="hongBaoDao" />
		</property>
		<property name="userDao">
			<ref bean="userDao" />
		</property>
		<property name="operationLogDao">
			<ref bean="operationLogDao" />
		</property>
		<property name="protocolDao">
			<ref bean="protocolDao" />
		</property>
	</bean>
	<bean id="purviewDao" class="com.rd.dao.jdbc.PurviewDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="manageAuthService" class="com.rd.service.impl.ManageAuthServiceImpl">
		<property name="purviewDao">
			<ref bean="purviewDao" />
		</property>
	</bean>
	
	 <bean id="creditCardDao"
        class="com.rd.dao.jdbc.CreditCardDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
	
	<bean id="noticeConfigDao"
        class="com.rd.dao.jdbc.NoticeConfigDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
    <bean id="linkageDao"
        class="com.rd.dao.jdbc.LinkageDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
	 <bean id="noticeDao"
        class="com.rd.dao.jdbc.NoticeDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
	<bean id="creditCardService" class="com.rd.service.impl.CreditCardServiceImpl">
		<property name="creditCardDao">
			<ref bean="creditCardDao" />
		</property>
	</bean>
	
	<bean id="quickenLoansDao" class="com.rd.dao.jdbc.QuickenLoansDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
	<bean id="lotteryDao" class="com.rd.dao.jdbc.LotteryDaoImpl">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
    
	<bean id="quickenLoansService" class="com.rd.service.impl.QuickenLoansServiceImpl">
		<property name="quickenLoansDao">
			<ref bean="quickenLoansDao" />
		</property>
	</bean>
	<bean id="noticeConfigService" class="com.rd.service.impl.NoticeConfigServiceImpl">
		<property name="noticeConfigDao">
			<ref bean="noticeConfigDao" />
		</property>
	</bean>
     <bean id="linkageService" class="com.rd.service.impl.LinkageServiceImpl">
		<property name="linkageDao">
			<ref bean="linkageDao" />
		</property>
	</bean>
	<bean id="lotteryService" class="com.rd.service.impl.LotteryServiceImpl">
		<property name="lotteryDao">
			<ref bean="lotteryDao" />
		</property>
	</bean>
	
</beans>